<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="User" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RecyclingSystemDBEntities" connectionString="metadata=res://*/User.csdl|res://*/User.ssdl|res://*/User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RecyclingSystemDBEntities1" connectionString="metadata=res://*/Recyclers.csdl|res://*/Recyclers.ssdl|res://*/Recyclers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recyclers" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Admins" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SuperAdmins" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AppDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=recycling.Model.AppDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Recyclers1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Admins1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SuperAdmins1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RecyclableItems" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Appointments" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AppointmentCategories" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Messages" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Conversations" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AppointmentCategories1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Conversations1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Inventory" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OrderReviews" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserFeedback" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AdminContactMessages" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HomepageCarousel" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserFeedback1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Inventory1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserFeedback2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserContactRequests" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Users" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Admins2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AdminOperationLogs" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserAddresses" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Transporters" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SortingCenterWorkers" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransportationOrders" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransportationOrdrers" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Users1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Recyclers2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Transporters1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SortingCenterWorkers1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WarehouseReceipts" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OrderReviews1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserFeedback3" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UserNotifications" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransportationOrders1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WarehouseReceipts1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Inventory2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaseWarehouse" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransportationOrders2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AdminOperationLogs1" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Admins3" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AppointmentCategories2" connectionString="data source=.;initial catalog=RecyclingSystemDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>